
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^(.*/classified|classified)(_)?([a-zA-Z0-9_-]+)?\.(xml)$ [NC]
RewriteRule ^(.*(en|pt|es|fr|it|ge|tr)/classified|classified)(_)?([a-zA-Z0-9_-]+)?\.(xml)$ ./index.php?qs=$4 [E=edir_language:%{ENV:REDIRECT_edir_language},L]
